[run]
branch = True
source = src
omit = src/ift/final/**/*.py

[report]
; Regexes for lines to exclude from consideration
exclude_also =
    if TYPE_CHECKING:

show_missing = True

[html]
directory = htmlcov
